
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: .5rem;
    border-bottom: 1px solid #ccc;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .quiz-title-input {
    position: relative;
    top: .5rem;
    width: 50%;
    height: 100%;
    max-width: 30rem;
    font-size: 18px;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
  }
  
  .quiz-title-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .header-image-container{
    display: flex;
    align-items: center;
   
  }
  .header-image-container img{
    width:50px;
    height:50px;
  }
  .header-delete-button{
    position: relative;
  
    top:-20px;
    right:5px;
  }
  .header-buttons {
    display: flex;
    gap: 15px;
  }
  
  .image-upload-label {
    display: inline-block;
    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .image-upload-label:hover {
    background-color: #0056b3;
  }
  
  .image-upload-input {
    display: none;
  }
  
  .save-button, .preview-button {
    
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  
  .preview-button {
    background-color: #ffc107;
    color: #fff;
  }
  
  .preview-button:hover {
    background-color: #e0a800;
  }
  .reset-button{
    background:none;
    border:none;
  }