*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /***********************FORM BUILDER CSS**************************/
 .form-builder-container{
  display: flex;  
  flex-direction: column;
  
 
 }
.task-adder-container{
  display: flex;  
  align-items: center;
  justify-content: center;
  
 
 }




